<div class="row py-3 py-md-5">
    <div class="col-md-12">
        <div class="row gy-3">
            <div class="col-sm-12">
                <h2 class="text-dark text-center">About InsightAI</h2>
            </div>
            <div class="col-sm-12">
                <h2 class="text-dark">VizAI Guide</h2>
                <p class="fw-normal text-secondary-dark">This guide explains how to properly prepare your Excel or CSV files so
                    they can be uploaded, previewed, and analyzed correctly on this website.</p>
            </div>
            <div class="col-sm-12">
                <h4 class="pb-2 text-dark">I. Supported File Types</h4>
                <ul class="list-group pb-2">
                    <li class="list-group-item text-secondary-dark">Comma-Separated Values <span
                            class="badge bg-success">.csv</span></li>
                    <li class="list-group-item text-secondary-dark">Microsoft Excel Open XML <span
                            class="badge bg-success">.xlsx</span></li>
                    <li class="list-group-item text-secondary-dark">Spreadsheet <span class="badge bg-success">.xls</span></li>
                </ul>
                <p class="text-dark text-secondary-dark">Other file types are not supported.</p>
            </div>
        </div>
    </div>
</div>
