<div class="row mt-3">
    <div class="col-md-12 d-flex align-items-center">
        <div class="">
            <h1 class="mb-3 text-light">Turn raw data into AI-driven insights</h1>
            <p class="text-muted mb-5">An OpenAI-powered platform that analyzes your datasets and delivers
                clear,
                actionable insights in seconds.
            </p>
            <div class="d-flex gap-3">
                <a class="btn btn-primary" href="#" "modal" data-bs-target="#staticBackdrop" data-bs-toggle="modal">
                    Try it now <i class="bi bi-chevron-double-right"></i>
                </a>
                
                <button class="btn btn-secondary">
                    Contacts <i class="bi bi-chevron-double-right"></i>
                </button>
            </div> 
            {% include "components/modal/upload_form.html" %}
        </div>
    </div>
</div>