<form action="/api/upload/" method="post" enctype="multipart/form-data" class="d-inline-block text-start">
    <div class="row gx-2 gy-2">
        <div class="col-auto">
            <input class="form-control violet-input text-muted" type="file" id="file" name="file" 
            accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required>
            
        </div>
        <div class="col-auto">
            <button class="btn" type="submit">Upload</button>
        </div>
    </div>
</form>